$black: #000000;
$white: #fffcf2;
$orange: #ff5000;
$blue: #00b7ff;

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-Main-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=-*/

main {
  padding: 0;
  margin: 0 auto;
  max-width: 1200px;
}
.auto-grid {
  --auto-grid-min-size: 400px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 1rem;
}
.index__grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: max(25rem) max(25rem);
  grid-template-areas:
    "topL topR"
    "bottomL bottomR";
}

.index__grid :nth-child(n) {
  display: flex;
  /*max-height: 50%;*/
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.index__img {
  width: 100%;
  max-height: 100%;
  border: limegreen dashed;
}

.index__image {
  object-fit: contain;
  max-width: 100%;
  height: 100%;
}

.index__grid__topL {
  grid-area: topL;
}

.index__grid__topR {
  background: $white;
  grid-area: topR;
  max-height: 70%;
  padding-left: 1rem;
}

.index__grid__bottomL {
  background: $white;
  grid-area: bottomL;
  padding-left: 1rem;
  max-height: 70%;
}

.index__grid__bottomR {
  grid-area: bottomR;
  max-height: 40rem;
  background: #fffcf2;
}

.index__btn {
  border: none;
  border-radius: 0.8em;
  background: $blue;
  padding: 1rem 3rem 1rem 3rem;
  font-size: 1rem;
}

@media (max-width: 799px) {
  .index__grid {
    padding-bottom: 20vw;
    grid-template-columns: 100%;
    grid-template-rows: 50vw 67vw 50vw 67vw;
    grid-template-areas:
      "topR"
      "topL"
      "bottomL"
      "bottomR";
  }
  .index__grid :nth-child(2),
  .index__grid :nth-child(3) {
    padding-top: 2rem;
  }
  .index__grid__topR,
  .index__grid__bottomL {
    max-height: 100%;
  }
  .index__grid {
    padding-bottom: 10rem;
  }
}