/*-=-=-=-=-=-==--=-=-=-=-=-=-=-=-=-= products page design =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
$black: #000000;
$white: #fffcf2;
$orange: #ff5000;
$blue: #00b7ff;
$pageSize: 1200px;
$gutter: 20px;

.products__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.products__card {
  padding: $gutter 0 $gutter 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;
}

.products__card input {
  flex: 1;
}

.products__card h2 {    
  margin-bottom: 1.5rem;
}

.product__card__bottom {
  display: flex;
  justify-content: stretch;
}

.products__card button {
  margin-left: 0.5rem;
  width: auto;
  height: 2rem;
}

.products__card svg {
  height: 0.8rem;
}

.product__description {
  margin: 1rem 0 1rem 0;
  min-height: 4rem;
}

.product__image {
  position: relative;
  bottom: 0;
  margin-bottom: 1rem;
  border: limegreen dashed;
}
.product__image img {
  position: relative;
  bottom: 0;
  width: 100%;
  max-height: 100%;
  border: limegreen dashed;
}
.product__card__bottom >:nth-of-type(n) {
  border-radius: 0.4rem;
  padding: 0 0.5rem 0 0.5rem;
  border: 1px solid black;
}
.product__card__bottom button {
  transition: 0.2s ease-in-out;
  text-decoration: none;
  background: rgb(170, 170, 170);
}

.product__card__bottom button:hover {
  background: $orange;
}

@media (max-width: 500px) {
  .products__card {
    width: 100%;
  }
}

@media (min-width: 501px) {
  .products__card {
    width: 48%;
  }
}

@media (min-width: 801px) {
  .products__card {
    width: 32%;
  }
}
