/*-=-=-=-=-=-==--=-=-=-=-=-=-=-=-=-= staff page design =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
$black: #000000;
$white: #fffcf2;
$orange: #ff5000;
$blue: #00b7ff;
$pageSize: 1200px;
$gutter: 20px;

.staff__container {
  margin-left: -$gutter;
  display: grid;
  gap: $gutter;
  grid-template-columns: $pageSize;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "karitas"
    "ulfur"
    "bergos"
    "hannes";
}

/*defining locations of each card*/
.starf__karitas {
  grid-area: karitas;
}
.starf__karitas .flip__card__front {
  background-image: url("img/Karítas.jpg");
}

.starf__ulfur {
  grid-area: ulfur;
}
.starf__ulfur .flip__card__front {
  background-image: url("img/Úlfur\ Arnar.jpg");
}

.starf__bergros {
  position: relative;
  grid-area: bergos;
}
.starf__bergros .flip__card__front {
  background-image: url("img/Bergrós.jpg");
}

.starf__hannes {
  grid-area: hannes;
}
.starf__hannes .flip__card__front {
  background-image: url("img/Hannes.jpg");
}

.flip__card {
  height: 100%;
}
.flip__card__back {
  background-color: $white;
  transform: rotateY(180deg);
}

.flip__card:hover {
  transition-duration: 0.2s;
  transform: rotateY(180deg);
}
.flip__card {
  display: inline-block;
  transition-duration: 0.2s;
  transform-style: preserve-3d;
}
.flip__card__front,
.flip__card__back {
  width: 100vw;
  max-width: $pageSize;
  height: 150vw;
  max-height: 1.5 * $pageSize;
  color: $black;
  font-size: 2rem;
  line-height: 5rem;
}
.flip__card__front {
  background-repeat: no-repeat;
  position: absolute;
  background-size: contain;
}

.flip__card__back {
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.flip__card__back h2 {
  margin-bottom: 10rem;
  text-align: center;
}
.flip__card__back p {
  text-align: center;
}

@media (min-width: 800px) {
  .staff__container > div {
    width: 48%;
  }
  .staff__container {

    grid-template-columns: 50% 50%;
    grid-template-rows: 0.75 * $pageSize 0.75 * $pageSize;
    grid-template-areas:
      "karitas ulfur"
      "bergos hannes";
  }

  .flip__card__front,
  .flip__card__back {
    width: 50vw;
    max-width: 0.5 * $pageSize - 0.5 *$gutter;
    height: 75vw;
    max-height: 0.75 * $pageSize;
  }
  .flip__card:hover .flip__card__front {
    display: none;
  }
  /*.flip__card:hover .flip__card__back {
    display: inline-block;
  }*/
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

