
@import "scss/cart_styles";
@import "scss/index_styles";
@import "scss/grid.css";
@import "scss/staff_styles";
@import "scss/products_styles";
@import "scss/cart_styles.scss";
@import "scss/course_styles.scss";

$black: #000000;
$white: #fffcf2;
$orange: #ff5000;
$blue: #00b7ff;
$pageSize: 1200px;
$gutter: 20px;

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
* {
  box-sizing: border-box;
}

body {
  background-color: $white; }

html {
  width: 100%;
  font-size: 16px;
  font-family: "Open Sans", helvetica, arial, sans-serif;
  // TODO fleiri grunn stillingar
}

ul {
  /*Applies for all lists (Shold really be default by HTML, so oldschool)*/
  list-style-type: none;
}


/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-HEADER-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

/*General header design*/
.header a {
  transition: 0.2s ease-in-out;
  text-decoration: none;
}
/* unvisited link */
.header a:link {
  color: $black;
}

/* visited link */
.header a:visited {
  color: $black;
}
/* mouse over link */
.header a:hover {
  color: $white;
}

/* selected link */
.header a:active {
  text-decoration: underline;
  color: $black;
}

.header {
  background: $orange;
  width: 100%;
  min-height: 10rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.header__h1 {
  width: 100%;
  text-align: center;
  font-weight: 800;
  font-size: 2.5em;
  margin-bottom: 1.2rem;
}

.header__container {
  font-size: 1rem;
  max-width: $pageSize;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    ". centerNav cart"
    ". centerNewLine .";
}

.header__nav__center {
  grid-area: centerNav;
}

.header__nav__center li {
  float: left;
  padding-top: 0.2rem;
  text-align: center;
  display: inline-block;
  height: 1.7rem;
  width: 25%;
}

.header__nav__right {
  grid-area: cart;
  margin-left: auto;
}

.currentPage {
  text-decoration: underline;
}

/*reponsiveness of header*/

@media only screen and (max-width: 500px) {
  /*smaller edges*/
  .header__container {
    grid-template-columns: 5% 85% 10%;
    font-size: 3vw;
  }
  /*cart drops down to a new line*/
  .header__nav__right {
    grid-area: centerNewLine;
    margin-right: auto;
    padding-top: 1rem;
    justify-content: center;
  }
}

@media only screen and (min-width: 501px) {
  /*first 3 links expand to drop the rorth down to a new line*/
  .header__nav__center li {
    width: 33%;
  }

  .header__nav__center ul :nth-child(4) {
    width: 100%;
  }
}

@media only screen and (min-width: 800px) {
  /*Re-applying span of centeral links*/
  .header__nav__center ul :nth-child(n) {
    width: 25%;
  }
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=FOOTER=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
/*Forcing footer down*/
.Header__and__Body {
  min-height: 70vh;
}

footer {
  position: initial;
  bottom: 0;
  color: $white;
}

.footer__aligner {
  width: 100%;
  min-height: 30vh;
  background-color: $blue;
  padding: 40px 0 30px $gutter;
  margin-top: 3rem;
}

.footer__distributed {
  color: $white;
  max-width: $pageSize;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.footer__distributed > div {
  width: 25%;
  margin-bottom: 0.8rem;
}

.footer__distributed h3 {
  color: $black;
  margin-bottom: 1.2rem;
}

.footer__distributed li {
  margin-bottom: 1rem;
}

.footer__distributed  li> a {
  color: $white;
  text-decoration: none;
}

.footer__aligner a {
  transition: 0.2s ease-in-out;
  text-decoration: none;
}

.footer__aligner a:hover {
  color: $black;
}

.© {
  color: $black;;
}

/* Responsiveness of Footer */
@media only screen and (max-width: 799px) {
  .footer__distributed > div {
    width: 50%;
  }
}
